@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*, *::before, *::after {
    font-family: 'Roboto', sans-serif;
}
.bg-transparent {
  background-color: transparent;
}
.img-white {
    filter: grayscale(100%) invert(50%) brightness(200%);
}
.img-whatsapp {
    filter: grayscale(100%) brightness(100%);
}
.bg-gray {
    background-color: #F2F3F4;
}
.bg-success-2 {
    background-color: #86D480;
}
.bg-danger-2 {
    background-color: #FFA3A3;
}
.bg-warning-2 {
    background-color: #FFE180;
}
.bg-blue {
    background-color: #1D2CBF;
}
.button {
    border-radius: 0.625rem;
    height: 100px;
    width: 100px;
    text-decoration: none;
}
.row-min-height {
    min-height: 300px;
    height: auto;
}
.fs-8 {
    font-size: 0.75rem;
}


